/* .tbox-flow-label-node-desc {
  position: absolute;
  top: -40px;
  left: 60px;
  line-height: 20px;
} */

.tbox-flow-label-node-desc-name1 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 66px;
  text-align: center;
  font-size: 12px;
}