@import '../../styles/theme.less';

.@{tb-prefix-cls}-resource {
  padding: 10px;
  &-btn {
    margin-top: 10px;
  }
  &-header-content {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}

.@{tb-prefix-cls}-resource-item {
  flex-wrap: wrap;

  &-header {
    display: flex;
    align-items: center;
    padding: 5px 8px 5px 0px;
    color: var(--tb-studio-collapse-header-color);
    border-bottom: 1px solid var(--tb-studio-panel-border-color);
    // background-color: var(--tb-studio-panel-active-bg-color);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-size: 13px;

    &-expand {
      transform: rotate(-90deg);
      font-size: 12px;
      transition: all 0.15s ease-in-out;
      margin-right: 3px;
    }
  }

  &-content-wrapper {
    display: flex;
    justify-content: center;
    background: var(--tb-studio-resource-content-bg-color);
  }

  &-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;
  }

  &.expand {
    .@{tb-prefix-cls}-resource-item-content {
      display: grid;
      grid-template-columns: repeat(3, 33.3333%);
      grid-gap: 1px;
      // background-color: var(--tb-studio-panel-border-color);
      border-bottom: 1px solid var(--tb-studio-panel-border-color);
    }

    .@{tb-prefix-cls}-resource-item-header-expand {
      transform: rotate(0);
    }
  }
}
