@import '../../theme.less';

@node-prefix-cls: ~'@{prefix}-flow-node';
@active-color: @primary-10;

.@{node-prefix-cls} {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: @node-width;
  height: @node-height;
  padding: @node-padding;
  border: @border-width-base @border-color-base @border-style-base;
  border-radius: @node-radius;
  background-color: @white;
  transition: 0.25s;
  cursor: pointer;
  &:hover {
    border-color: @active-color;
    box-shadow: @box-shadow-base;
  }
  &:selected {
    width: 200px;
    border-color: blueviolet;
  }

  &__icon {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  &__label {
    position: absolute;
    top: @node-padding;
    left: @node-height + @node-padding;
    font-size: 13px;
    width: @node-width * 2;
    height: @node-height;
    > .title {
      font-weight: bolder;
    }
    > .description {
      font-weight: normal;
      font-size: 12px;
      color: @text-color-secondary;
    }
  }
}
